<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>

<body>
  <div>
    <form th:action="@{/images}" method="post" enctype="multipart/form-data">
      <input type="file" name="file" accept="image/*" />
      <button type="submit">Upload Image</button>
    </form>
  </div>
  <div>
    <table>
      <tr th:each="image : ${images}">
        <td>
          <img th:src="'data:image/jpg;base64,' + ${image.data}">
        </td>
      </tr>
    </table>
  </div>
</body>

</html>