<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/header.html::header"></head>

<body>
  <nav th:replace="fragments/navbar.html::navbar"></nav>

  <div class="container mt-5">
    <div class="text-center">
      <img th:src="@{learning.svg}" class="img-fluid my-3" width="40%" alt="Learning">
      <p class="my-5">
        Sistem Informasi Sekolah (SIS) dapat membantu sekolah dalam mengelola data dan informasi dengan lebih efektif
        dan efisien, serta memudahkan pengambilan keputusan yang lebih baik.
      </p>
    </div>
  </div>
</body>

</html>