<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/header.html::header"></head>

<body>
  <nav th:replace="fragments/navbar.html::navbar"></nav>
  <div class="container mt-5">
    <h1 class="mb-4 mx-2">Data Mata Pelajaran</h1>
    <a th:href="@{/mapel/simpan}" class="btn btn-primary mx-3 mt-2 mb-4">Tambah Mata Pelajaran</a>
    <div class="container">
      <div class="table-responsive">
        <table class="table table-striped table-bordered align-middle text-center">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Kode Mapel</th>
              <th scope="col">Nama Mapel</th>
              <th scope="col">Tingkat</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="mapel, i : ${allMapel}">
              <th scope="row" th:text="${i.index+1}"></th>
              <td th:text="${mapel.kode_mapel}"></td>
              <td th:text="${mapel.nama_mapel}"></td>
              <td th:text="${mapel.tingkat}"></td>
              <td>
                <a th:href="@{/mapel/ubah/{id}(id=${mapel.id})}" class="btn btn-info">Edit</a>
                <a th:href="@{/mapel/hapus/{id}(id=${mapel.id})}" class="btn btn-danger">Delete</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</body>

</html>