<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/header.html::header"></head>

<body>
  <div class="container mt-5">
    <h1>Tambah Siswa</h1>
    <form th:action="@{/siswa/simpan}" th:object="${siswaDto}" enctype="multipart/form-data" method="post" class="p-4">
      <div class="mb-3">
        <label for="nisn" class="form-label">NISN</label>
        <input type="text" class="form-control" id="nisn" name="nisn">
      </div>
      <div class="mb-3">
        <label for="nama_lengkap" class="form-label">Nama Lengkap</label>
        <input type="text" class="form-control" id="nama_lengkap" name="nama_lengkap">
      </div>
      <div class="mb-3">
        <label for="tanggal_lahir" class="form-label">Tanggal Lahir</label>
        <input type="date" class="form-control" id="tanggal_lahir" name="tanggal_lahir">
      </div>
      <div class="mb-3">
        <label for="alamat" class="form-label">Alamat</label>
        <input type="text" class="form-control" id="alamat" name="alamat">
      </div>
      <div class="mb-3">
        <label for="nama_ortu" class="form-label">Nama Ortu</label>
        <input type="text" class="form-control" id="nama_ortu" name="nama_ortu">
      </div>
      <div class="mb-3">
        <label for="telp" class="form-label">Nomor Telepon</label>
        <input type="text" class="form-control" id="telp" name="telp">
      </div>
      <div class="mb-3">
        <label for="file" class="form-label">Foto</label>
        <input type="file" name="file" accept="image/*" class="form-control" />
      </div>
      <div class="mb-3">
        <label for="status" class="form-label">Status</label>
        <select name="status" id="status" class="form-control">
          <option value="0">Tidak Aktif</option>
          <option value="1">Aktif</option>
        </select>
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary my-3">Submit</button>
      </div>
    </form>
  </div>
</body>

</html>